<section class="bg-light py-lg-5 min-vh-80">
  <div class="container py-4 py-lg-5">
    <div class="row g-4">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center position-relative">
            <% if @user == current_user %>
              <%= link_to "編集", edit_user_registration_path, class: "position-absolute edit-profile-position" %>
            <% end %>
            <%= image_tag(@user.avatar.url, alt: "アバター画像", class: "img-fluid rounded-circle img-fluid mb-3") %>
            <div class="row mb-2">
              <div class="col-sm-4">
                <p class="mb-0 text-nowrap fw-bold">ユーザー名</p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0"><%= @user.name %></p>
              </div>
            </div>
            <hr>
            <% if @user == current_user %>
              <div class="row mb-2">
                <div class="col-sm-4">
                  <p class="mb-0 fw-bold">Email</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted mb-0"><%= @user.email %></p>
                </div>
              </div>
              <hr>
            <% end %>
            <div>
              <p class="mb-2 fw-bold">プロフィール</p>
              <p class="text-muted mb-0"><%= @user.bio %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <h3 class="text-center border-bottom">投稿したレシピ</h3>
        <ul class="row gx-4 gy-2 ps-5 pe-5">
          <% @posted_recipes.each do |recipe| %>
            <li class="col-6 col-md-4">
              <%= link_to recipe_path(recipe.id), class: "text-decoration-none" do %>
                <%= image_tag recipe.recipe_image.thumb.url, class:"img-fluid rounded mb-2 mx-auto d-block object-fit-cover" %>
                <p class="text-center fw-bold text-dark custom-fs-16px"><%= recipe.title %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
