<section class="first-view">
  <div class="fisrt-view-container">
    <div class="first-view-logo">
      <%= image_tag("first-view.png", class: "first-view-logo-img") %>
    </div>
    <div class="popular-recipes-area">
      <h2>人気レシピ</h2>
        <ul class="popular-recipes">
          <li class="popular-recipe">
            <%= image_tag("logocopy.png", class: "recipe-img") %>
            <p>タイトル</p>
          </li>
          <li class="popular-recipe">
            <%= image_tag("logocopy.png", class: "recipe-img") %>
            <p>タイトル</p>
          </li>
          <li class="popular-recipe">
            <%= image_tag("logocopy.png", class: "recipe-img") %>
            <p>タイトル</p>
          </li>
        </ul>
    </div>
  </div>
</section>

<section class="category-area">
  <div class="category-recipes-area">
    <h2>マンガ</h2>
    <ul class="category-recipes">
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
    </ul>
  </div>
  <div class="category-recipes-area">
    <h2>アニメ</h2>
    <ul class="category-recipes">
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
    </ul>
  </div>
  <div class="category-recipes-area">
    <h2>小説</h2>
    <ul class="category-recipes">
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
    </ul>
  </div>
  <div class="category-recipes-area">
    <h2>その他</h2>
    <ul class="category-recipes">
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
      <li class="category-recipe">
        <%= image_tag("logocopy.png", class: "recipe-img") %>
        <p>タイトル</p>
      </li>
    </ul>
  </div>
</section>
