<section class="bg-light ps-lg-3 pe-lg-5 min-vh-80">
  <div class="container py-4 py-lg-5">
    <div class="row g-4">
      <div class="col-lg-2 mt-lg-5">
        <ul class="nav flex-lg-column d-flex justify-content-around border rounded p-3 shadow-sm">
          <% @categories.each do |category| %>
            <li class="nav-item">
              <% if category == @category %>
                <span class="nav-link fw-bold bg-pink text-dark custom-fs-16px">
                  <%= category.name %>
                </span>
              <% else %>
                <%= link_to category_path(category.id), class: "nav-link text-dark fw-bold custom-fs-16px" do %>
                  <%= category.name %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-lg-10">
        <h2 class="text-center border-bottom"><%= @category.name %></h2>
        <ul class="row gx-4 gy-2 ps-5 pe-5">
          <% @recipes.each do |recipe| %>
            <li class="col-6 col-md-4">
              <%= link_to recipe_path(recipe.id), class: "text-decoration-none" do %>
                <%= image_tag recipe.recipe_image.thumb.url, class:"img-fluid rounded mb-2 mx-auto d-block object-fit-cover" %>
                <p class="text-center fw-bold text-dark mb-0 custom-fs-16px"><%= recipe.title %></p>
                <p class="text-dark text-center mb-0 custom-fs-14px"><%= recipe.work_name %></p>
              <% end %>
              <p class="text-muted text-center">
                <%= link_to profile_path(recipe.user.id), class: "text-decoration-none" do %>
                  <%= image_tag(recipe.user.avatar.small.url, alt: "アイコン画像", class: "img-fluid rounded-circle border border-muted") %>
                  <span class="text-dark custom-fs-14px"><%= recipe.user.name %></span>
                <% end %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
