<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <%= link_to root_path do %>
            <%= image_tag("logo.png", class: "header-logo ms-3", alt: "ロゴ画像") %>
          <% end %>
          <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <% if user_signed_in? %>
                <li class="nav-item text-center">
                  <%= image_tag current_user.avatar.small.url, style: "object-fit: cover;", class: "rounded-circle", alt: "アバター画像" %>
                <li class="nav-item dropdown">
                  <%= link_to current_user.name, "#",
                              class: "nav-link dropdown-toggle text-center me-lg-2",
                              role: "button",
                              data: { bs_toggle: "dropdown" },
                              aria: { expanded: "false" } %>
                  <ul class="dropdown-menu dropdown-menu-end text-center">
                    <li><%= link_to "お気に入りレシピ", favorites_recipes_path(user_id: current_user.id), class: "dropdown-item" %></li>
                    <li><%= link_to "アカウント情報", profile_path(current_user.id), class: "dropdown-item" %></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                  </ul>
                </li>
              <% else %>
                <li class="nav-item text-center">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center">
                  <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
            <div class="me-lg-3 text-center">
              <%= link_to new_recipe_path, class: "btn bg-white-btn px-2 py-1 d-inline-flex align-items-center justify-content-center" do %>
                <span class="text-center mb-0 custom-fs-16px">
                  <i class="bi bi-pencil-square fs-6"></i>レシピ投稿
                </span>
              <% end %>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>


  </body>

  <footer class="bg-yellow">
  </footer>
</html>
